
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form method="post" action="/Account/Login">
    <label>Enter Username</label><br />
    <input type="text" name="username" /> <br />

    <label>Enter Password</label><br />
    <input type="password" name="password" /> <br />

    <input type="submit" value="Login" /> 
</form>
