

<form action="CreateNewAccount" method="POST">
    <span>ID: </span> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <input type="text" name="id  " value="101   " /><br /><br />
    <span>Name: </span> &nbsp&nbsp&nbsp
    <input type="text" name="name" value="Nature" /><br /><br />
    <span>Properties: </span> &nbsp
    <input type="checkbox" name="Properties" value="Watercolor" /><span>Artist</span>
    <input type="checkbox" name="Properties" value="Oilcolor" /><span>Artlovers</span><br /><br />
    <input type="submit" name="operations" value="Create" />
    &nbsp&nbsp
    <input type="submit" name="operations" value="Update" />
</form>